body
  color: #616161
  background: $bg_gray_medium

.container
  width: 700px
  margin-left: 100px
  padding: 0 10px

.header
  +relative
  height: 97px
  .nav
    height: 24px
    margin 0 -10px
    background: #a5a5a5
    +rounded_bottom(4px)
    ul
      +right
      padding: 0px 3px 0 8px
      font-size: 11px
      li
        +block
        +left
        height: 24px
        margin-right: 8px
        &:after
          content: " / "
        &:last-child
          margin-right: 0
        &:last-child:after
          content: ""
      a
        +inline_block
        padding: 7px 4px 0 0
        color: $txt_gray_dark
        font-style: italic
        &:hover
          text-decoration: underline
        &.facebook
          margin-top: 3px
          padding: 0
        &.my_saves, &.new_video, &.sign_out
          padding-right: 4px

  h1
    margin-top: 8px
    span.total
      margin: 21px 0 0 8px
    span
      margin-top: -2px
      font-size: 27px
      color: #7b7b7b
      &.number
        margin: 0 1px
  .search
    +absolute
    top: 45px
    right: 0
    padding: 2px 0 10px 135px
    background: url(/images/search_bg.png) top left repeat-y
    z-index: 5
    div.fancy_input
      left: -10px
      input
        width: 200px

// flash ---------------------------------------------------------------------

.flash
  +clear
  :margin-bottom 5px
  div
    :height 20px
    :margin -10px auto 10px
    :padding 12px 10px 3px
    :font-size 12px
    :line-height 12px
    &.alert
      :background #b88278
      :color #4e1d13
    &.notice
      :background #81b878
      :color #2e6632


.content
  min-height: 200px
  padding: 10px 0
  margin-bottom: 10px

.footer
  margin-bottom: 60px
  a
    +gondvetica
    +cufon
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    color: #eaeaea
    &.copyright
      color: white
    &:hover
      color: white
  ul
    +right
    +horizontal
    li
      margin-left: 20px
