html {
  color: #222222;
  background: transparent; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  font-size: 100%; }

legend {
  color: black; }

input[type='hidden'] {
  display: none; }

a, input {
  outline: none; }

a {
  text-decoration: none; }

.clear {
  display: block;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

br.clear {
  display: block;
  display: block;
  clear: both;
  height: 0; }

body {
  font-family: "Helvetica", "Arial"; }

h1 {
  font-family: "Gondvetica", "Helvetica Neue", "Arial";
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase; }
  h1 a {
    visibility: hidden;
    display: block;
    float: left;
    color: white; }

h2 {
  visibility: hidden;
  font-family: "Gondvetica", "Helvetica Neue", "Arial";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7b7b7b; }

h3 {
  visibility: hidden;
  font-family: "Gondvetica", "Helvetica Neue", "Arial";
  margin-bottom: 2px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }

h4 {
  visibility: hidden;
  font-weight: bold; }

a.bevel_button {
  height: 32px;
  cursor: pointer; }
  a.bevel_button span.text {
    display: block;
    float: left;
    height: 26px;
    margin-right: -10px;
    padding: 6px 10px 0 15px;
    font-size: 16px;
    font-family: "Georgia";
    font-style: italic;
    text-shadow: 1px 1px #555555;
    color: white;
    background: url(/images/buttons.png); }
  a.bevel_button span.tail {
    display: inline-block;
    position: relative;
    right: -10px;
    height: 32px;
    width: 10px;
    background: url(/images/buttons.png) top right; }
  a.bevel_button.green span.text {
    background-position: left top; }
  a.bevel_button.green span.tail {
    background-position: right top; }
  a.bevel_button.red span.text {
    background-position: left -32px; }
  a.bevel_button.red span.tail {
    background-position: right -32px; }
  a.bevel_button.gray span.text {
    background-position: left -64px; }
  a.bevel_button.gray span.tail {
    background-position: right -64px; }
  a.bevel_button.gray:hover span.text {
    background-position: left -96px; }
  a.bevel_button.gray:hover span.tail {
    background-position: right -96px; }

a.facebook {
  display: block;
  overflow: hidden;
  text-indent: 9999px;
  width: 58px;
  height: 18px;
  background: url(/images/a.facebook.png); }

body {
  color: #616161;
  background: #b7b7b7; }

.container {
  width: 700px;
  margin-left: 100px;
  padding: 0 10px; }

.header {
  position: relative;
  height: 100px;
  border-top: 5px solid #e7c9bb; }
  .header h1 {
    margin-top: 25px; }
    .header h1 span.total {
      margin: 21px 0 0 8px; }
    .header h1 span {
      margin-top: -2px;
      font-size: 27px;
      color: #7b7b7b; }
      .header h1 span.number {
        margin: 0 1px; }
  .header ul.nav {
    position: absolute;
    top: 16px;
    right: 0;
    font-size: 11px; }
    .header ul.nav li {
      display: block;
      float: left; }
    .header ul.nav li {
      padding-left: 6px; }
    .header ul.nav a {
      color: #616161; }
      .header ul.nav a:hover {
        text-decoration: underline; }
      .header ul.nav a.facebook {
        margin-top: -4px; }
      .header ul.nav a.new_video {
        padding: 2px 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background: #00ff66; }
        .header ul.nav a.new_video:hover {
          color: white;
          text-decoration: none; }
  .header .search {
    position: absolute;
    top: 40px;
    right: 0; }
    .header .search div.fancy_input {
      left: -10px; }
      .header .search div.fancy_input input {
        width: 200px; }

.flash {
  display: block;
  clear: both; }

.content {
  min-height: 200px;
  padding: 10px 0;
  margin-bottom: 10px; }

.footer {
  display: none;
  margin-bottom: 60px; }
  .footer a {
    font-family: "Gondvetica", "Helvetica Neue", "Arial";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #eaeaea; }
    .footer a.copyright {
      color: white; }
  .footer ul {
    float: right; }
    .footer ul li {
      display: block;
      float: left; }
    .footer ul li {
      margin-left: 20px; }

div.fancy_input {
  position: relative;
  height: 31px; }
  div.fancy_input span.input {
    display: block;
    float: left;
    height: 31px;
    margin-right: -10px;
    padding-left: 6px;
    background: url(/images/fancy_input.default.png) no-repeat; }
    div.fancy_input span.input input {
      float: left;
      border: 0;
      background: transparent;
      margin-top: 5px;
      padding-top: 6px;
      font-size: 14px;
      color: #9a9a9a; }
      div.fancy_input span.input input.blur {
        color: #c1c1c1; }
  div.fancy_input span.tail {
    display: inline-block;
    position: relative;
    right: -10px;
    height: 31px;
    width: 10px;
    background: url(/images/fancy_input.default.png) top right no-repeat; }
  div.fancy_input.round span.input {
    background: url(/images/fancy_input.round.png) no-repeat; }
  div.fancy_input.round span.tail {
    background: url(/images/fancy_input.round.png) top right no-repeat; }
  div.fancy_input.icon span.input {
    padding-left: 23px;
    background: url(/images/fancy_input.round.with_icon.png) no-repeat; }

div.buttons {
  height: 31px; }
  div.buttons a.bevel_button {
    float: left;
    margin-right: 15px; }

div.video_form div.head {
  height: 40px; }
  div.video_form div.head h2 {
    display: inline-block;
    width: 400px; }
  div.video_form div.head a.bevel_button.status {
    float: right;
    position: relative;
    left: -5px; }
  div.video_form div.head .status {
    float: right; }
    div.video_form div.head .status a {
      display: none; }
      div.video_form div.head .status a.selected {
        display: block; }
div.video_form div.video {
  height: 80px;
  margin-bottom: 10px; }
  div.video_form div.video .fancy_input {
    float: left;
    margin: 0 20px 10px 0; }
  div.video_form div.video .title input {
    width: 381px; }
  div.video_form div.video .width input,
  div.video_form div.video .height input,
  div.video_form div.video .duration input {
    width: 75px; }
  div.video_form div.video .duration {
    margin-right: 0; }
  div.video_form div.video .provider input {
    display: block;
    clear: left;
    width: 178px; }
  div.video_form div.video .provider_id input {
    width: 177px; }
  div.video_form div.video .source input {
    width: 176px; }
  div.video_form div.video a.image {
    float: left; }
    div.video_form div.video a.image span.text {
      width: 50px;
      padding-left: 24px; }
  div.video_form div.video .snapshot {
    position: absolute;
    top: 109px;
    right: 26px;
    width: 89px;
    height: 31px;
    overflow: hidden;
    cursor: pointer; }
    div.video_form div.video .snapshot input {
      position: relative;
      left: -323px;
      opacity: 0;
      cursor: pointer; }
div.video_form div.athletes h2 {
  float: left;
  width: 140px;
  margin-bottom: 2px; }
div.video_form div.athletes div.search_or_add {
  float: left;
  margin-top: 3px; }
div.video_form div.athletes ul {
  margin-bottom: 8px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  div.video_form div.video .snapshot input {
    left: 0;
    margin-top: 3px; } }

div.session_form .fancy_input {
  margin-bottom: 10px; }
  div.session_form .fancy_input input[type='text'],
  div.session_form .fancy_input input[type='password'] {
    width: 200px; }
div.session_form .rememberable {
  display: block;
  clear: left;
  height: 20px;
  margin: 5px 0 10px;
  font-size: 12px; }
div.session_form .session_links {
  margin-top: 40px; }
  div.session_form .session_links a {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: #616161; }
  div.session_form .session_links br {
    display: none; }

span.hr {
  display: block;
  display: block;
  clear: both;
  margin-bottom: 10px;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #cecece; }

div.lifted_box {
  position: relative;
  left: -25px;
  width: 750px;
  margin-bottom: 10px; }
  div.lifted_box .top, div.lifted_box .bot {
    height: 10px;
    padding: 0 25px 0;
    background-position: no-repeat; }
  div.lifted_box .top {
    background: url(/images/lifted_box.top.png); }
  div.lifted_box .mid {
    padding: 5px 25px 10px;
    background: url(/images/lifted_box.mid.png) repeat-y; }
    div.lifted_box .mid span.hr {
      border-top: 1px solid #bfbfbf;
      border-bottom: 1px solid #fbfbfb; }
  div.lifted_box .bot {
    background: url(/images/lifted_box.bot.png); }

.flash {
  margin-bottom: 5px; }
  .flash div {
    height: 20px;
    margin: -10px auto 10px;
    padding: 10px 10px 3px;
    font-size: 12px;
    line-height: 12px; }
    .flash div.alert {
      background: #d5d97d;
      color: #d61e00; }
    .flash div.notice {
      background: #7dd986;
      color: #2e6632; }

li.video {
  display: block;
  position: relative;
  width: 100%;
  height: 109px;
  padding: 1px;
  margin-bottom: 15px;
  background: #7b7b7b;
  -moz-box-shadow: 0px 0px 2px #888888;
  box-shadow: 0px 0px 2px #888888; }
  li.video img {
    display: block;
    float: left;
    width: 144px;
    height: 109px;
    background: #7b7b7b;
    opacity: 0.8; }
  li.video span.duration {
    position: absolute;
    top: 4px;
    left: 1px;
    height: 14px;
    padding: 0 4px 0 3px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    font-family: "Gondvetica", "Helvetica Neue", "Arial";
    font-size: 11px;
    color: white;
    background: black;
    opacity: 0.7; }
  li.video .info {
    position: relative;
    float: left;
    width: 389px;
    height: 100%;
    margin: 0;
    padding: 0 6px;
    border-left: 1px solid #888888; }
    li.video .info h3 {
      height: 27px;
      overflow: hidden;
      margin-bottom: 0; }
    li.video .info .athletes {
      overflow: hidden;
      height: 55px;
      margin-left: 3px; }
      li.video .info .athletes ul {
        float: left; }
        li.video .info .athletes ul li {
          display: block;
          float: left; }
        li.video .info .athletes ul li {
          display: block;
          padding-right: 3px; }
          li.video .info .athletes ul li a {
            display: block;
            visibility: hidden;
            font-family: "Gondvetica", "Helvetica Neue", "Arial";
            font-size: 14px;
            font-style: italic;
            color: #d1d0d0; }
    li.video .info ul.meta {
      position: absolute;
      left: 10px;
      bottom: 4px;
      display: block;
      clear: left; }
      li.video .info ul.meta li {
        display: block;
        float: left; }
      li.video .info ul.meta li {
        margin-right: 10px;
        font-size: 10px;
        color: #403f3f; }
  li.video ul.options {
    float: right;
    width: 144px;
    height: 100%; }
    li.video ul.options li {
      display: block;
      height: 54px; }
      li.video ul.options li a {
        display: block;
        height: 38px;
        padding-top: 16px;
        visibility: hidden;
        font-family: "Gondvetica", "Helvetica Neue", "Arial";
        font-size: 21px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        background: #9a9a9a; }
    li.video ul.options li.watch {
      margin-bottom: 1px; }
      li.video ul.options li.watch a.new {
        background: #fff600; }
    li.video ul.options li.save a.saved {
      background: #00ff66; }
  li.video a.delete, li.video a.edit {
    display: block;
    overflow: hidden;
    text-indent: 9999px;
    position: absolute;
    right: -14px;
    width: 10px;
    height: 10px;
    opacity: 0.1; }
  li.video a.edit {
    top: 4px;
    background: yellow; }
  li.video a.delete {
    top: 14px;
    background: red; }

ul.tag_list {
  display: inline-block; }
  ul.tag_list:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  ul.tag_list {
    display: block; }

a.tag {
  display: block;
  float: left;
  height: 22px;
  margin: 0 13px 3px 0;
  cursor: pointer;
  color: white; }
  a.tag span.text {
    display: block;
    float: left;
    height: 18px;
    margin-right: -10px;
    padding: 4px 0 0 10px;
    font: normal 12px Arial;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px #555555;
    background: url(/images/tags.png) left top no-repeat; }
  a.tag span.option {
    display: inline-block;
    position: relative;
    right: -10px;
    height: 22px;
    width: 10px;
    background: url(/images/tags.png) right top no-repeat; }
  a.tag.icon span.option {
    padding-right: 18px;
    background-position: right -44px; }
  a.tag:hover span.text {
    background-position: left -22px; }
  a.tag:hover.icon span.option {
    background-position: right -66px; }

.acResults {
  padding: 0;
  border: 1px solid blue;
  overflow: hidden; }
  .acResults ul {
    width: 100%; }
    .acResults ul li {
      display: block;
      width: 100%;
      padding: 2px 5px;
      font-size: 12px;
      color: #9a9a9a;
      cursor: pointer;
      overflow: hidden; }
      .acResults ul li.acSelect {
        background: pink; }

.acLoading {
  background: url(/images/indicator.gif) right center no-repeat; }

/* popup ------------------------------------------------------------------ */
#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  z-index: 100;
  background: url(/images/translucent_80p.png); }
  #popup .window {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: black;
    -moz-box-shadow: 0px 0px 30px #101010;
    box-shadow: 0px 0px 30px #101010; }

/* watch ------------------------------------------------------------------ */
#popup div.watch {
  padding: 0 0 35px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px; }
  #popup div.watch .player {
    margin-bottom: 20px; }
  #popup div.watch .panel {
    position: absolute;
    right: 6px;
    bottom: 2px;
    left: 6px;
    height: 25px;
    overflow: hidden;
    border-top: 1px solid #010101; }
    #popup div.watch .panel h2 a {
      float: left;
      width: 87%;
      font-size: 16px;
      color: #222222; }
      #popup div.watch .panel h2 a:hover {
        color: #555555; }
    #popup div.watch .panel a.save {
      display: block;
      float: right;
      padding: 3px 6px;
      font-size: 11px;
      font-weight: normal;
      text-shadow: 1px 1px #111111;
      color: #dddddd;
      background: #222222;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      #popup div.watch .panel a.save:hover {
        background: #555555; }
  #popup div.watch .hover h2 {
    color: pink; }
