%li.video
  %img
  %span.duration
  .info
    %h3 The Triple Cork: Season 1, Ep 1
    .stars
      - stars = ['Jonas Michilot', 'Will Tuddenham', 'Chris Bradshaw', 'Desiree Melancon', 'Laura Hadar', 'Harrison Gordon', 'Zak Hale', 'Lance Hakker', 'Mike Hakker', 'Will Bateman']
      %ul
        %li
          %h4 Starring:
        - stars.each do |star|
          %li= link_to star + ', ', '#'
    %ul.meta
      %li Views: 12,440
      %li Saves: 677
      %li Posted 2 days ago
  %ul.options
    %li.watch= link_to 'Watch', '/watch/the_triple_cork'
    %li.save= link_to 'Save', '/save/3'
