// head ----------------------------------------------------------------------

- content_for :on_ready do
  video.list.init()

// body ----------------------------------------------------------------------

%ul.videos
  - @videos.each do |video|
    = render 'videos/video_item', :video => video
    