// head ----------------------------------------------------------------------

- content_for :on_ready do
  video.list.init()
  endless_page.init()

// body ----------------------------------------------------------------------

%ul.videos
  = render :partial =>'videos/video', :collection => @videos