// head ----------------------------------------------------------------------

- content_for :on_ready do
  video.list.init()
  = "video.popup.load('#{watch_video_path(@video)}')"


// body ----------------------------------------------------------------------

%ul.videos
  - @videos.each do |video|
    = render 'videos/video_item', :video => video