.footer
  =link_to '© 2010 GONDI.TV', root_path, :class => 'copyright'
  %ul
    %li= link_to 'Info', info_path
    %li= link_to 'Submit Link', submit_link_path, :remote => true
    %li= mail_to 'team@gondi.tv', 'Contact', :subject => 'gondi.tv'
